@import "tailwindcss";

@theme {
  --color-primary: #059669; /* Emerald green */
  --color-primary-hover: #047857;
  --color-secondary: #2563eb; /* Blue accent */
  --color-background: #f9fafb; /* Light gray */
  --color-dark-bg: #111827; /* Dark mode background */
  --color-dark-text: #e5e7eb; /* Dark mode text */
  --color-footer-bg: #1f2937;
  --color-footer-text: #9ca3af;
}


html {
  @apply scroll-smooth;
}

