@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-primary-hover: #047857;
  --color-secondary: #4aa7ff;
  --color-background: #f9fafb;
  --color-footer-bg: #059669;
  --color-footer-text: #ffffff;
}